body{
    background-color: cyan; 
}
#pic-background-image{
    color: pink;
}
body {
    color: cyan;
}
pre {
    color: orange;
}

h1 {
    color: cyan ;
}

h2 {
    color: cyan ;
}
nav a {
    color: yellow;
}

